.app-header {
    display: flex;
    justify-content: space-between;
    height: 23vh;
}

.header-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}

.header-icon-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #373061;
    opacity: 1;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.header-icon-container>.icon-detail {
    opacity: 0;
    display: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.header-icon-container:hover {
    cursor: pointer;
    color: #fff;
    width: 150px;
}

.header-icon-container:hover>.header-icon {
    opacity: 0;
    display: none;
}

.header-icon-container:hover>.icon-detail {
    opacity: 1;
    display: flex;
}

.icon-detail {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Sansation', sans-serif;
}

.facebook:hover {
    background-color: #3b5998;
}

.instagram:hover {
    background-color: #c32aa3;
}

.twitter:hover {
    background-color: #1da1f2;
}

.header-title {
    align-self: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.36);
    font-weight: bold;
    font-family: 'Sansation', sans-serif;
}

.about-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 35px;
    background-color: #04AFF8;
    color: #fff;
    font: 'Sansation', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.about-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media only screen and (max-width: 736px),
screen and (max-height: 500px) {
    .about-button {
        width: 50px;
        height: 20px;
        font-size: 10px;
    }

    .about-button-container {
        margin-right: 5px;
        margin-top: 10px;
        padding: 0;
    }

    .header-title {
        font-size: 16px;
    }

    .icon-detail {
        font-size: 9px;
    }

    .header-icon-container:hover {
        width: 90px;
    }

    .header-icons {
        justify-content: space-around;
        padding: 0;
        margin-left: 5px;
    }
}