.programmer-container {
    background: #012230;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.programmer-container>.content {
    display: flex;
    padding: 7%;
    flex-direction: column;
}

.programmer-container>.content>div {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.programmer-container>.content>.row-one>.color-match {
    width: 25%;
    height: 100%;
    border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    -ms-border-radius: 20px 0 0 0;
    -o-border-radius: 20px 0 0 0;
}

.programmer-container>.content>.row-one>.color-match>img {
    border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    -ms-border-radius: 20px 0 0 0;
    -o-border-radius: 20px 0 0 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
}

.programmer-container>.content>.row-one>.info {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 74%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 0 0;
    -webkit-border-radius: 0 20px 0 0;
    -moz-border-radius: 0 20px 0 0;
    -ms-border-radius: 0 20px 0 0;
    -o-border-radius: 0 20px 0 0;
}

.programmer-container>.content>.row-one>.info>.title {
    font-family: 'Sansita';
    font-weight: bold;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.programmer-container>.content>.row-one>.info>.body {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #3A5864;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.programmer-container>.content>.row-one>.info>.btn {
    font-family: Roboto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04AFF8;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    align-self: flex-end;
    width: 20%;
    height: 20%;
    margin-right: 20px;
    color: #fff;
}

.programmer-container>.content>.row-two>.beatland {
    background: linear-gradient(to right, #FF007A, #FF3D00);
    width: 75%;
    height: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Sansation;
    font-weight: bold;
    font-size: 40px;
}

.programmer-container>.content>.row-two>.bulc {
    background: #fff;
    width: 24%;
    height: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.programmer-container>.content>.row-two>.bulc>img {
    width: 50%;
    height: 50%;
}

.programmer-container>.content>.row-three>.services {
    width: 59%;
    height: 100%;
    background: #022F42;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
}

.programmer-container>.content>.row-three>.services>.head {
    background: #043C54;
    color: #fff;
    font-weight: bold;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    height: 20%;
    align-items: center;
    padding-left: 15px;
}

.programmer-container>.content>.row-three>.services>.options {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-around;
    height: 80%;
}

.programmer-container>.content>.row-three>.services>.options>div {
    display: flex;
    flex-direction: row;
    color: #4C8BA6;
    font-family: 'Open Sans';
    font-size: 16px;
}

.programmer-container>.content>.row-three>.services>.options>div>img {
    height: 20px;
    width: 20px;
    padding: 0 15px;
}

.programmer-container>.content>.row-three>.frameworks {
    width: 40%;
    height: 100%;
    background: #03638C;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
}

.programmer-container>.content>.row-three>.frameworks>.head {
    background: #0277A9;
    color: #fff;
    font-weight: bold;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    height: 20%;
    align-items: center;
    padding-left: 15px;
}

.programmer-container>.content>.row-three>.frameworks>.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.programmer-container>.content>.row-three>.frameworks>.options>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.programmer-container>.content>.row-three>.frameworks>.options>div>img {
    height: 30px;
    width: 30px;
    padding: 0 15px;
}

.programmer-container>.content>.row-four>.elixir {
    background: #fff;
    width: 24%;
    height: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.programmer-container>.content>.row-four>.elixir>img {
    width: 70%;
    height: 70%;
}

.programmer-container>.content>.row-four>.resume {
    height: 100%;
    width: 75%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
}

.programmer-container>.content>.row-four>.resume>img {
    width: 100%;
    height: 100%;
}

.programmer-container>.content>.row-five>.dealin {
    background: #fff;
    width: 60%;
    height: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.programmer-container>.content>.row-five>.dealin>img {
    width: 100%;
    height: 100%;
}

.programmer-container>.content>.row-five>.travvapp {
    height: 100%;
    width: 39%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.25);
    background: #000;
    color: #dadada;
    font-weight: bold;
    font-size: 40px;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programmer-container>.content>.row-five>.travvapp>span {
    color: #FF007A;
}